
@{
    ViewBag.Title = "Reportes";
}

<h2>Reportes</h2>

<br />
@Html.ActionLink("Listado de Conversaciones", "Dialogos", "Reportes")
<br />
<br />

@Html.ActionLink("Listado de Usuarios", "Usuarios", "Reportes")

<br />
<br />

@Html.ActionLink("Manejar Conversaciones", "UsuarioHandler", "Reportes")


<br />
<br />

@ViewBag.Mensaje